---
// Packages
import { Picture } from "astro:assets";

// Components
import OpenStreetMap from "components/OpenStreetMap.astro";

// Images
import why0 from "/public/images/venue/venue1.jpg";
import why2 from "/public/images/venue/venue2.jpg";
import why3 from "/public/images/venue/venue3.jpg";
import why4 from "/public/images/venue/venue4.jpg";

interface Props {
  introTitle?: string;
  introText?: string;
  programTitle?: string;
  programDescription?: string;
  finalistText?: string;
  ctaText?: string;
  ctaLink?: string;
  images?: Array<{
    src: any;
    alt: string;
  }>;
}

const {
  programTitle = "杭州白金汉爵酒店",
  programDescription = "浙江省杭州市西湖区珊瑚沙东路9号",
  finalistText = "酒店坐落于杭州风景优美的西湖区，毗邻西湖，杭州铂金汉爵酒店是举办会议和活动的绝佳场所。酒店占地17万平方米，拥有1100余间高档客房，设有16个多功能宴会厅，其中包括一个3800平方米、层高11米的宏伟宴会厅，可容纳多达5000位宾客。酒店提供完善的商务设施、内部餐饮、充足的停车位，以及前往当地地标的便利交通，是举办国内和国际聚会的理想选择。",
  images = [
    { src: why0, alt: "GOSIM Hangzhou Spotlight program highlight" },
    { src: why2, alt: "GOSIM Hangzhou Spotlight project showcase" },
    { src: why3, alt: "GOSIM Hangzhou Spotlight innovation" },
    { src: why4, alt: "GOSIM Hangzhou Spotlight community" },
  ],
} = Astro.props;
---

<div class="container">
  <!-- Program Overview -->
  <div class="row program-grid">
    <div class="col">
      <h2>{programTitle}</h2>
      <div class="program-description-container">
        <p class="program-description">{programDescription}</p>
      </div>
      <p class="finalist-text">
        {finalistText}
      </p>
    </div>

    <div class="col col-images">
      {
        images && images.length > 0 ? (
          <div class="image-grid">
            {images.map((image, index) => (
              <div class={`image-container image-${index + 1}`}>
                <Picture
                  src={image.src}
                  formats={["webp", "jpg"]}
                  alt={image.alt}
                  widths={[400, 800]}
                  sizes="(max-width: 767px) 100vw, 50vw"
                  class="image"
                />
              </div>
            ))}
            <div class="gradient-circle-wrap">
              <div class="gradient-circle" />
            </div>
          </div>
        ) : (
          <div class="image-grid">
            <div class="image-container image-1">
              <div class="placeholder-image" />
            </div>
            <div class="image-container image-2">
              <div class="placeholder-image" />
            </div>
            <div class="image-container image-3">
              <div class="placeholder-image" />
            </div>
            <div class="image-container image-4">
              <div class="placeholder-image" />
            </div>
          </div>
        )
      }
    </div>
  </div>
</div>
<section class="section" data-theme-section="light" data-bg-section="light">
  <div class="container map-container">
    <OpenStreetMap
      latitude={30.172599}
      longitude={120.102973}
      zoom={11}
      height="350px"
      markerTitle="杭州白金汉爵酒店"
    />
  </div>
</section>

<style>
  .map-container {
    z-index: 0;
    position: relative;
  }

  .section-program-overview {
    padding: 4rem 0;
  }

  .intro-title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .program-title2 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.5rem;
  }

  .program-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .program-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  .program-description-container {
    background: linear-gradient(
      45deg,
      var(--color-primary),
      var(--color-secondary),
      var(--color-primary)
    );
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 20px;
    position: relative;
  }

  .program-description-container::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: rgb(249 244 220);
    border-radius: 8px;
    z-index: 0;
  }

  .program-description-container > * {
    position: relative;
    z-index: 1;
  }
  .program-description {
    font-size: 1.125rem;
  }

  .feature-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .feature-item {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    font-size: 1.25rem;
  }

  .check-icon {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .check-svg {
    width: 1rem;
    height: 1rem;
    color: white;
  }

  .link-primary {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
  }

  .finalist-text {
    margin-top: 2rem;
    font-size: 1.125rem;
  }

  .link-arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--color-text);
    text-decoration: none;
    font-weight: 700;
    margin-top: 1.25rem;
  }

  .cta-container {
    margin-top: 2rem;
  }

  .col-images {
    padding-top: 4rem;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .image-container {
    aspect-ratio: 1/1;
    border-radius: 0.75rem;
    overflow: hidden;
    z-index: 1;
  }

  .image-2,
  .image-4 {
    margin-top: -2rem;
  }

  .image,
  .placeholder-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .placeholder-image {
    background-color: var(--color-lightgray);
    height: 100%;
  }

  @media (min-width: 992px) {
    .program-grid {
      grid-template-columns: 1fr 1fr;
    }

    .image-grid {
      gap: 2rem;
    }
  }

  @media (max-width: 991px) {
    .intro-title {
      font-size: 2rem;
    }

    .intro-text {
      font-size: 1.125rem;
    }

    .col-images {
      padding-top: 2rem;
    }
  }

  @media (max-width: 767px) {
    .container-wide {
      padding: 0 1.5rem;
    }

    .intro-title {
      font-size: 1.75rem;
    }

    .intro-text {
      font-size: 1rem;
    }

    .image-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
